* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i:hover {
    cursor: pointer;
}

img:hover {
    cursor: pointer;
}

.conteiner {
    padding: 10px 80px;
    font-family: 'Source Sans Pro', sans-serif;
}
/* navbar fissata in alto: */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0px;
    left: 0px;
    padding: 0 100px;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08)
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 70px;
}

.logo>img {
    width: 60px;
    height: auto;
    padding-right: 5px;
}

.logo>h1 {
    font-size: 50px;
}



.utility {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.utility>div {
    padding: 0 10px;
}

.utility>div>i {
    font-size: 20px;
    color: grey;
}

.utility>div>input {
    font-size: 20px;
    border-radius: 20px;
    padding: 8px 5px;
    border: solid 1px gray;
    text-align: center;
}

.div-utente {
    background-color: orangered;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.utility>div>p {
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 7px;
}

.main {
    display: flex;
    padding-top: 70px;
}

/* blocco sinistro:*/

.left-side {
    width: 67%;
    margin-right: 70px;
    margin-left: 90px;
    padding-top: 90px;
}

.left-side>.divspan {
    display: flex;
    border-bottom: solid 1px rgb(223, 223, 223);
    align-items: center;
}

.left-side>.divspan>p {
    font-size: 25px;
    font-weight: bold;
    color: grey;
    margin-right: 20px;
    margin-left: 10px;
}

.left-side>.divspan>p:hover {
    border-bottom: solid 1px black;
    cursor: pointer;
    color: black;
}

.main>.left-side>.section {
    display: flex;
    align-items: center;
}
.main>.left-side>.section>.autore {
    min-height: 250px;
    margin-top: 80px;
    width: 70%;
}

.main>.left-side>.section>.autore>.autore-art {
    display: flex;
    align-items: center;
}

.main>.left-side>.section>.autore>.autore-art>img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.main>.left-side>.section>.autore>.autore-art>a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 20px;
    margin: 0 10px;
}

.main>.left-side>.section>.autore>.autore-art>span {
    font-weight: bold;
    font-size: 20px;
    color: rgb(181, 181, 181);
}

.main>.left-side>.section>.autore>.articole>h2 {
    font-size: 40px;
    margin-top: 20px;
}

.main>.left-side>.section>.autore>.articole>h2:hover {
    cursor: pointer;
}

.main>.left-side>.section>.autore>.articole>p {
    color: rgb(94, 92, 92);
    padding-top: 10px;
    font-size: 30px;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer-art {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-art>.info-art {
    display: flex;
    align-items: center;
}
.footer-art>.info-art>div>a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(181, 181, 181);
    margin: 0px 5px;
}

.footer-art>.info-art>div {
    color: rgb(181, 181, 181)
}

.footer-art>.info-art>span {
   margin: 0 10px;
   color: gray;
}
.footer-art>.info-art>div>.categoria-art {
    background-color: rgb(223, 223, 223);
    color: grey;
    border-radius: 20px;
    padding: 3px 10px;
}

.footer-art>.option-art>i {
    font-size: 25px;
    margin: 0 10px;
}

.section>.img-art {
    width: 30%;
    height: 150px;
    padding-left: 100px;
}

.section>.img-art>img {
    height: 150%;
    width: auto;
}

/* blocco destr:*/

.right-side {
    min-height: 500px;
    width: 33%;
    padding-top: 40px;
    border-left: solid 1px rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; 
}

.header-right {
    padding-bottom: 50px;
}

.right-side>.header-right>.twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.right-side>.header-right>.twitter>img {
    width: 80px;
}

#plus {
    font-size: 50px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#twitter {
    color: #1DA1F2;
    font-size: 40px;
}

.right-side>.header-right>p {
    text-align: center;
    margin-top: 30px;
    color: rgb(94, 92, 92);
    font-size: 25px;
}

.right-side>.header-right>.connect-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    border: solid 1px grey;
    border-radius: 60px;
    padding: 5px;
}

.right-side>.header-right>.connect-button>a {
    text-decoration: none;
    color: black;
    font-size: 23px;
}

.right-side>.header-right>.connect-button>a, i {
    padding: 0 10px;
}

.right-side>.header-right>.maybe {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.right-side>.header-right>.maybe>a {
    color: rgb(181, 181, 181);
    font-size: 25px;
}

.right-side>.main-right {
    padding-top: 50px;
    margin: 0 50px;
    border-top: solid 1px rgb(223, 223, 223);
}

.right-side>.main-right>h3 {
    padding-bottom: 40px;
    font-size: 25px;
}

.right-side>.main-right>.topics {
    display: flex;
    flex-wrap: wrap;
}

.right-side>.main-right>.topics>a {
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding: 10px 15px;
    color: black;
    background-color:rgb(223, 223, 223);
    border-radius: 23px;
}

.right-side>.main-right>h4 {
    font-size: 23px;
    padding-top: 50px;
}

.right-side>.main-right>.suggeriti {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-side>.main-right>.suggeriti>.under-sug {
    height: 70px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.right-side>.main-right>.suggeriti>.under-sug>img {
    height: 100%;
    border-radius: 50%;
}

.right-side>.main-right>.suggeriti>.under-sug>.follow>h4 {
    margin: 0 20px;
    font-size: 23px;
}

.right-side>.main-right>.suggeriti>.under-sug>.follow>p {
    margin: 0 20px;
    font-size: 18px;
    color: gray;
}

.right-side>.main-right>.suggeriti>a {
    text-decoration: none;
    color: black;
    border: solid 1px black;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 30px;
    margin-right: 0;
}

.right-side>.main-right>.saved>.user-rec {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.right-side>.main-right>.saved>.user-rec>img {
    height: 30px;
    border-radius: 50%;
}

.right-side>.main-right>.saved>.user-rec>a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding: 0 10px;
}

.right-side>.main-right>.saved>h3 {
    padding: 10px 0;
}

.right-side>.main-right>.saved>.info-saved {
    display: flex;
}

.right-side>.main-right>.saved>.info-saved>p {
    color: rgb(94, 92, 92);
    padding-right: 10px;
}

.right-side>.main-right>.see-all{
    margin-top: 30px;
}

.right-side>.main-right>.see-all>a {
    text-decoration: none;
    color: green;
}

.right-side>.main-right>.footer-right {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.right-side>.main-right>.footer-right>a {
    text-decoration: none;
    color: rgb(94, 92, 92);
    font-weight: bold;
    padding-right: 40px;
    padding-top: 20px;
}